language: scala
sudo: false
scala:
  - "2.12.2"
jdk:
  - oraclejdk8
env:
  matrix:
    - SCRIPT="sbt -jvm-opts .travis-jvmopts +test"
# important to use eval, otherwise "&&" is passed as an argument to sbt rather than being processed by bash
script: eval $SCRIPT
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/1d93347f19b51af09514
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
